node_modules
workspace
compiled
build
logs
.env

*.code-workspace
*.bat
*.lnk
/.idea/.gitignore
/.idea/modules.xml
/.idea/SparrowBot.iml
/.idea/vcs.xml
.idea/workspace.xml
.idea/discord.xml
.idea/compiler.xml
.DS_Store
.eslintignore
.eslintrc.js
.vscode
.idea
.prettierrc
